<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Analysis</h1>
        <div class="buttons">
            <a href="/all_habits" class="button">All Habits</a>
            <a href="/habits_by_repeat" class="button">Habits by Repeat</a>
            <a href="/longest_streak_all" class="button">Longest Streak for All Habits</a>
            <a href="/longest_streak" class="button">Longest Streak</a>
        </div>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>
